---
layout: default
title: Arrienda tu casa en Fusagasugá con tu inmobiliaria LEBEN
description: Arrendar casa en Fusagasugá puede ser difícil. ¿Y cómo necesitas conseguir la tuya? Leben Inmobiliaria te facilita encontrar la casa perfecta para arrendar
h1: Consigue casas en arriendo en Fusagasugá con LEBEN inmobiliaria
---
{% include hero.html %}

{% include datos.html data="158" img="report.png" h2="Finca en venta Chinauta - Fusagasugá" li1="Valor $ 1.200.000.000" li2="7 habitaciones" li3="8 baños" li4="2 pisos" li5="Sala" li6="Cocina" li7="6 Garajes" url="#" %}

<!--Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <div>
        <h2>Arrienda la casa perfecta en Fusagasugá</h2>
        <p>Estas son las ofertas de <strong>casas, fincas y apartamentos en arriendo en Fusagasugá</strong>. Haz clic en el que más te guste:</p>
      </div>
    </div>
    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="20">
      <div>
        <ul class="portfolio-flters">
          <li data-filter="*" class="filter-active">Todos</li>
          <li data-filter=".casas">Casas</li>
          <li data-filter=".apartamentos">Apartamentos</li>
          <li data-filter=".apartaestudios">Apartaestudios</li>
          <li data-filter=".fincas">Fincas</li>
          <li data-filter=".quintas">Quintas</li>
        </ul><!-- End Portfolio Filters -->
      </div>
      <div class="row gy-4 portfolio-container">
        {% for data in site.arriendo %}
        <div class="col-xl-4 col-md-6 portfolio-item {{data.clase}}">
          <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="20">
            <a href="{{site.baseurl}}{{data.url}}" target="_blank" data-gallery="portfolio-gallery-app" class="glightbox" title="Inmobiliaria LEBEN Fusagasugá"><img src="{{site.baseurl}}/assets/images/portfolio/{{data.img}}" class="img-fluid" alt="{{data.alt}}" loading="lazy"></a>
            <div class="portfolio-info">
              <h3><a href="{{site.baseurl}}{{data.url}}" target="_blank" title="Oferta de LEBEN Inmobiliaria">{{data.cta}}</a></h3>
              <div class="project-deatils-aside">
                <div class="project-btn"><a href="{{site.baseurl}}{{data.url}}" target="_blank" class="fill-btn" title="Casas y apartamentos de Fusagasugá">Ver más detalles</a></div>
              </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->
        {% endfor %}
      </div><!-- End Portfolio Container -->
    </div>
  </div>
</section><!-- End Portfolio Section -->
{% include cta.html %}
