---
layout: default
title: "Somos la agencia inmobiliaria LEBEN: invierte con confianza"
description: "Si piensas en invertir en tu casa, ¿lo haces con cualquiera? En LEBEN inmobiliaria tenemos una gran reputación en Fusagasugá que te da la tranquilidad que buscas."
h1: LEBEN es la agencia inmobiliaria de confianza de Fusagasugá
schema:
  '<script type="application/ld+json">
    {"@context": "https://schema.org",
      "@type": "AboutPage",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://lebeninmobiliaria.com/nosotros"
      },
      "headline": "Conoce la agencia inmobiliaria LEBEN e invierte con tranquilidad",
      "description": "Si piensas en invertir en tu casa, ¿lo haces con cualquiera? En LEBEN inmobiliaria tenemos una gran reputación en Fusagasugá que te da la tranquilidad que buscas.",
      "image": "https://lebeninmobiliaria.com/assets/images/fotos-alucibas-a-fusagasuga.webp",
      "publisher": {
        "@type": "Organization",
        "name": "Leben Inmobiliaria",
        "url": "https://lebeninmobiliaria.com",
        "logo": {
          "@type": "ImageObject",
          "url": "https://lebeninmobiliaria.com/assets/images/logo.webp"
        },
        "foundingDate": "2016-09-01",
        "founders": [
          {
            "@type": "Person",
            "name": "Sebastián Rincón y Alejandro Hurtado"
          }
        ]
      },
      "about": {
        "@type": "Thing",
        "description": "LEBEN es la agencia inmobiliaria de confianza de Fusagasugá y del departamento de Cundinamarca"
      },
      "inLanguage": "es"
    }
  </script>'
---

  {% include about.html %}
  {% include datos.html img="fotos-alucibas-a-fusagasuga.avif" data="1000" h2="Superamos los 1000 propietarios felices" li1="Más de 1000 negocios exitosos" li2="Variedad propiedades vendidas y en administración" li3="Todos los datos de tu interés disponibles" li4="Asesoría de expertos en todos los procesos" li5="Acompañamiento legal y comercial" li6="Comunicación constantes hasta cumplir totalmente" li7="Soporte 5/8" %}
  {% include team.html %}
