---
layout: default
title: Conoce la agencia inmobiliaria LEBEN e invierte con tranquilidad
description: Si piensas en invertir en tu casa, ¿lo haces con cualquiera? En LEBEN inmobiliaria tenemos una gran reputación en Fusagasugá que te da la tranquilidad que buscas.
h1: LEBEN es la agencia inmobiliaria de confianza de Fusagasugá
---
{% include hero.html %}


  <main id="main" class="single-page">

    {% include nosotros.html %}
    
    {% include datos.html img="fotos-alucibas-a-fusagasuga.webp" data="1000" h2="Superamos los 1000 propietarios felices" li1="Más de 1000 negocios exitosos" li2="Variedad propiedades vendidas y en administración" li3="Todos los datos de tu interés disponibles" li4="Asesoría de expertos en todos los procesos" li5="Acompañamiento legal y comercial" li6="Comunicación constantes hasta cumplir totalmente" li7="Soporte 5/8" %}
    
    {% include testimonios.html %}
    {% include faq.html %}


  </main><!-- End #main -->
