---
layout: default
title: Testimonios de los clientes que compraron casa con LEBEN
description: Nuestra mejor recomendación son quienes hoy ya disfrutan de sus casas en Fusagasugá, felices de haber hecho un gran negocio gracias a la asesoría de LEBEN
h1: Invierte tranquilo con LEBEN. Nuestros clientes te dicen porqué hacerlo
---
{% include hero.html %}

<!-- Services Section -->
<section id="services" class="services">
  <div class="top-icon-box position-relative">
    <div class="container position-relative">
      <div>
        <div>
          <h2>Te contamos porqué LEBEN ha destacado en el mercado inmobiliario de Cundinamarca</h2>
          <p>Cuando pudimos disfrutar el privilegio de tener nuestra propia vivienda, alquilada o comprada, siempre nace un temor: <b>evitar que nos roben o que nos cobren de más</b>.</p>
          <p>Por eso <strong>LEBEN se pudo abrir fácilmente un espacio en el mercado inmobiliario de Fusagasugá y sus alrededores</strong>. Todos nuestros clientes destacan la honradez y los principios con los que atendemos a nuestros clientes.</p>
        </div>
      </div>
      <div class="row gy-4">

        <div class="col-xl-4 col-md-4">
          <div class="icon-box">
            <img src="{{'assets/images/icons/contact-section.svg'}}" alt="">
            <div class="service-number">1</div>
            <h3 class="title">Siempre sabrás cómo va el negocio de tu propiedad</h3>
            <p>Te informamos de cada etapa. Tendrás toda la información en tiempo real y al momento que tú la solicites. Tú tranquilidad es nuestra mejor forma de ofrecer nuestros servicios profesionales a más personas.</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-4 col-md-4">
          <div class="icon-box">
            <img src="{{'assets/images/icons/about-section.svg'}}" alt="">
            <div class="service-number">2</div>
            <h3 class="title">Hacemos todas la diligencias legales por ti</h3>
            <p>Te damos la absoluta certeza que tu compra o alquiler tendrá todos los requisitos legales al día. Así ya no tendrás que inquietarte por diligencias y documentos tediosos. Tú solo disfruta de tu propiedad.</p>
          </div>
        </div>
        <!--End Icon Box -->


        <div class="col-xl-4 col-md-4">
          <div class="icon-box">
            <img src="{{'assets/images/icons/about-section.svg'}}" alt="">
            <div class="service-number">3</div>
            <h3 class="title">Te acompañamos hasta al final exitoso de tu negocio</h3>
            <p>Desde la asesoría inicial para que conozcas bien cómo trabajamos, hasta la entrega de tu propiedad, dinero, título, etc. Lo que indique que lo hiciste. Estaremos allí hasta que tengas la certeza que todo salió como esperabas.</p>
          </div>
        </div>
        <!--End Icon Box -->

      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<main id="main" class="single-page">
{% include testimonios.html %}
{% include entradas.html %}
</main><!-- End #main -->
