---
layout: default
title: Venta de casas en Fusagasugá con tu inmobiliaria LEBEN
description: La venta de casas en Fusagasugá es nuestra mayor especialidad. ¿Necesitas comprar una casa? ¿O vas a vender la tuya? Leben Inmobiliaria te asesora.
h1: Venta de casas en Fusagasugá. Es el mejor servicio de LEBEN inmobiliaria
---
{% include hero.html %}

{% include datos.html img="report.png" h2="Propiedades Vendidas en Fusagasugá" li1="Más de 70 propiedades en lista" li2="Variedad de características en la propiedad" li3="Fotografías y videos de tu interés" li4="Asesoría de expertos con experiencia" li5="Acompañamiento legal y comercial" li6="Comunicación constantes hasta cumplir totalmente" li7="Soporte 5/8" %}