---
layout: default
title: Venta de casas en Fusagasugá con tu inmobiliaria LEBEN
description: La venta de casas en Fusagasugá es nuestra mayor especialidad. ¿Necesitas comprar una casa? ¿O vas a vender la tuya? Leben Inmobiliaria te asesora.
h1: Venta de casas en Fusagasugá. Es el mejor servicio de LEBEN inmobiliaria
---
{% include hero.html %}

{% include datos.html data="158" img="report.png" h2="Finca en venta Chinauta - Fusagasugá" li1="Valor $ 1.200.000.000" li2="7 habitaciones" li3="8 baños" li4="2 pisos" li5="Sala" li6="Cocina" li7="6 Garajes" %}