<!-- About Us Section -->
<section id="whyus" class="about">
  <div class="overlay-right"></div>
  <div class="wrapper">
    <div class="row gy-4">
      <div class="col-lg-6 position-relative" >
        <img src="{{'assets/images/casas-en-fusagasuga.avif' | relative_url }}" title="Casa en venta con agencia inmobiliaria Leben" class="img-fluid mb-4"
        alt="Fotos de apartamentos en venta en Fusagasugá" loading="lazy">
        <div class="img-overlay-right">
          <h3><span>+1000</span> negocios exitosos realizados por LEBEN</h3>
        </div>
        <h3>Consigue casa, apartamento, finca o lote en Fusagasugá con la Inmobiliaria Leben</h3>
        <blockquote>"La inmobiliaria de Fusagasugá que más responsabilidad y transparencia muestra en la compra de tu casa se llama LEBEN"
        </blockquote>
      </div>
      <div class="col-lg-6">
        <div class="content flow ps-lg-5">
          <h2>En Leben Inmobiliaria Fusagasugá encontraremos la casa que quieres tener</h2>
          <p>Aprovecha las <strong>gangas de casas en Fusagasugá</strong> que hemos encontrado Leben, tanto en arriendo como para la venta.</p>
          <p>Nuestro compromiso es acompañarte en todo el proceso de compra o alquiler. <strong>Nuestra inmobiliaria se hace cargo de todas las diligencias por ti.</strong> Tu solo te preocuparás por disfrutar la inversión de tu vivienda en Fusagasugá y en municipios cercanos.</p>
          <div class="flow">
            <a href="{{'ventas-casas-y-apartamentos'|relative_url}}" title="Inmobiliaria Fusagasugá casas" class="boton boton1">Propiedades en venta</a>
            <a href="{{'arriendo-casas-y-apartamentos'|relative_url}}" title="Inmobiliaria Fusagasugá Arriendo" class="boton boton2">Propiedades en arriendo</a>
            <a href="{{'consigna-tu-propiedad'|relative_url}}" title="Casas en consignación con inmobiliaria" class="boton boton1">Administración de casas</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
