 <!-- Call To Action Section -->
<section id="asesor" class="call-to-action asesor">
  <div class="intro">
    <h2>¿Te gusta esta casa? Contacta con los profesionales de LEBEN para más información</h2>
    <p>Soy <strong>{{include.nombre}}</strong>, asesor profesional de LEBEN. Y estoy aquí para ayudarte a resolver todas las inquietudes antes de adquirir tu propiedad.</p>
    <p>¿Te gustaría que nos encarguemos de todo? ¿Aún tienes preguntas sobre esta propiedad? ¿Quieres hacer alguna oferta?</p>
    <p>Contáctame y hagamos realidad tu sueño de ser propietario.</p>
    {% if page.asesor == "Alejandro Hurtado" %}
    <a class="btn-get-started" href="#">Escríbeme por WhatsApp</a>
    <a class="cta-btn" href="tel:3160520942">Llama al 3160520942</a>
    {% else %}
    <a class="btn-get-started" href="#">Escríbeme por WhatsApp</a>
    <a class="cta-btn" href="tel:3224736189">Llama al 3224736189</a>
    {% endif %}
  </div>
  <div>
    <img src="{{site.baseurl}}/assets/images/team/{{include.foto}}" alt="{{include.nombre}} asesor profesional de la inmobiliaria LEBEN" loading="lazy">
  </div>
</section><!-- End Call To Action Section -->