 <!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action sections-bg asesor">
  <div class="intro">
    <h2>¿Necesitas más información? Escríbeme</h2>
    <p>Soy <strong>{{include.nombre}}</strong>, asesor profesional de LEBEN. Y estoy aquí para ayudarte a resolver todas las inquietudes antes de adquirir tu propiedad.</p>
    <p>¿Te gustaría que nos encarguemos de todo? ¿Aún tienes preguntas sobre esta propiedad? ¿Quieres hacer alguna oferta? Contáctame y hagamos realidad tu sueño de ser propietario.</p>
    <a class="cta-btn" href="https://wa.me/57{{include.contacto}}">Escríbe por WhatsApp</a>
    <a class="cta-btn" href="tel:{{include.contacto}}">Llama al {{include.contacto}}</a>
  </div>
  <div>
    <img src="{{site.baseurl}}/assets/images/team/{{include.foto}}" alt="{{include.nombre}} asesor profesional de LEBEN" loading="lazy">
  </div>
</section><!-- End Call To Action Section -->