 <!-- Call To Action Section -->
 <section id="call-to-action" class="call-to-action sections-bg">
  <div class="container text-center" data-aos="zoom-out">
    <div class="section-header-book">
      <h2>Conoce el próximo proyecto de vivienda en Fusagasugá</h2>
      <p>Nombre de un barrio</p>
      <h3>3:00PM sábado xx de enero, 2024</h3>
      <p>No te pierdas esta gran oportunidad de hacer la compra más importante de tu vida: la de tu casa!. Ya sea que esté buscando un hogar acogedor y sereno o una casa familiar espaciosa, nuestro equipo está comprometido a ayudarte a encontrar la casa perfecta para comprar o alquilar en Fusagasugá, asegurándote que puedas instalarte en un espacio que realmente se sienta como hogar.</p>
    </div>
    <a class="cta-btn" href="{{site.whatsapp}}">Escríbenos para más info</a>
  </div>
</section><!-- End Call To Action Section -->