<!-- Call To Action Section -->
<section id="call-to-action" class="cta-landing">
  <div class="wrapper flow">
    <h2>Conoce este proyecto de vivienda nueva en Fusagasugá</h2>
    <h3>Bosques de Palo Verde</h3>
    <p>No te pierdas esta gran oportunidad de hacer la compra más importante de tu vida: ¡la de tu casa!</p>
    <ol>
      <li>Vive en un lugar muy acogedor y sereno</li>
      <li>Consigue una casa con espacios amplios para tu familia</li>
      <li>Valoriza inmediatamente tu inversión</li>
    </ol>
    <a class="cta-btn" href="https://bit.ly/leben-proyecto-bosques">Escríbenos para más info</a>
  </div>
</section><!-- End Call To Action Section -->