<aside class="articulos cta">
  <div class="flow">
    <h2>Participa de Nuestras Clases de Inglés en Línea</h2>
    <p>Si ya vives en Estados Unidos, mejorar tu inglés puede abrirte las puertas a <strong>mejores oportunidades laborales</strong>. Muchas empresas valoran la fluidez en inglés como una habilidad clave.</p>
    <p>Si estás decidido a aprender inglés en línea, nuestros <strong>grupos conversacionales</strong> son tu solución. No pierdas más tiempo y empieza hoy mismo.</p>
    <a href="{{site.baseurl}}/#formulario" class="boton boton_1" title="Cursos Inglés Conversacional">→ Unirme al grupo ahora mismo</a>
  </div>
  <img src="{{'img/home-clases-ingles.avif'|relative_url}}" alt="Clases en ingles">
</aside>