<!-- Counter Section Start -->
<section id="counter" class="counter-area section-padding fadeInLeft wow" data-wow-delay=".5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="counter-container" data-aos="fade-left" data-aos-delay="50">
            {% if page.url == "/ventas" %}
            <h2 class="datos-h2">Aprovecha esta casa en venta en Fusagasugá</h2>
            {% endif %}
            {% if page.url == "/arriendo" %}
            <h2 class="datos-h2">Aprovecha esta casa en arriendo en Fusagasugá</h2>
            {% endif %}
            <div class="icon"><img src="{{site.baseurl}}/assets/images/{{include.img}}" alt="Casas Fusagasugá Colombia" loading="lazy"></div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="counter-container flow" >
            {% if page.url == "/ventas" or page.url == "/arriendo" %}
            <div class="counter" data-target="{{include.data}}"></div>
            <span>millones</span>
            {% endif %}
            {% if page.url == "/" %}
            <h4 class="datos-h2">Aprovecha para comprar tu casa Fusagasugá</h4>
            {% endif %}
            <h3>{{include.h2}}</h3>
            <ul>
              <li><i class="bi bi-link-45deg"></i> {{include.li1}}</li>
              <li><i class="bi bi-link-45deg"></i> {{include.li2}}</li>
              <li><i class="bi bi-link-45deg"></i> {{include.li3}}</li>
              <li><i class="bi bi-link-45deg"></i> {{include.li4}}</li>
              <li><i class="bi bi-link-45deg"></i> {{include.li5}}</li>
              <li><i class="bi bi-link-45deg"></i> {{include.li6}}</li>
              <li><i class="bi bi-link-45deg"></i> {{include.li7}}</li>
              {% if page.url == "/ventas" or page.url == "/arriendo" %}
              <li><a href="{{include.url|relative_url}}" class="boton-white">Conoce la propiedad</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- End Counter Section Start -->