<!-- Counter Section Start -->
<section id="counter" class="counter-area section-padding fadeInLeft wow" data-wow-delay="1s">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="counter-container" data-aos="fade-left" data-aos-delay="75">
              <div class="icon"><img src="assets/images/report.png" alt=""></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="counter-container" data-aos="fade-right" data-aos-delay="200">
              <div class="counter" data-target="300"></div>
              <h2>Propiedades Vendidas en Fusagasugá</h2>
              <ul>
                <li><i class="bi bi-link-45deg"></i> Más de 70 propiedades en lista</li>
                <li><i class="bi bi-link-45deg"></i> Variedad de características en la propiedad</li>
                <li><i class="bi bi-link-45deg"></i> Fotografías y videos de tu interés</li>
                <li><i class="bi bi-link-45deg"></i> Asesoría de expertos con experiencia</li>
                <li><i class="bi bi-link-45deg"></i> Acompañamiento legal y comercial</li>
                <li><i class="bi bi-link-45deg"></i> Comunicación constantes hasta cumplir totalmente</li>
                <li><i class="bi bi-link-45deg"></i> Soporte 5/8</li>
                <li><i class="bi bi-link-45deg"></i> Constante evaluación de opciones</li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- End Counter Section Start -->