<!-- Counter Section Start -->
<section id="counter" class="counter-area section-padding fadeInLeft wow" data-wow-delay=".5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="counter-container" data-aos="fade-left" data-aos-delay="75">
              {% if page.url == "/ventas" %}
              <h2 class="datos-h2">Aprovecha esta propiedad en ganga en Fusagasugá</h2>
              {% endif %}
              {% if page.url == "/arriendo" %}
              <h2 class="datos-h2">Aprovecha esta propiedad en ganga en Fusagasugá</h2>
              {% endif %}
              <div class="icon"><img src="{{site.baseurl}}/assets/images/{{include.img}}" alt="Casas Fusagasugá Colombia" loading="lazy"></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="counter-container" data-aos="fade-right" data-aos-delay="100">
              <div class="counter" data-target="{{include.data}}"></div>
              <h3>{{include.h2}}</h3>
              <ul>
                <li><i class="bi bi-link-45deg"></i> {{include.li1}}</li>
                <li><i class="bi bi-link-45deg"></i> {{include.li2}}</li>
                <li><i class="bi bi-link-45deg"></i> {{include.li3}}</li>
                <li><i class="bi bi-link-45deg"></i> {{include.li4}}</li>
                <li><i class="bi bi-link-45deg"></i> {{include.li5}}</li>
                <li><i class="bi bi-link-45deg"></i> {{include.li6}}</li>
                <li><i class="bi bi-link-45deg"></i> {{include.li7}}</li>
                {% if page.url == "/ventas" %}
                <li><a href="{{site.baseurl}}{{include.url}}" class="boton-white">↪ Mira la propiedad</a></li>
                {% endif %}
                {% if page.url == "/arriendo" %}
                <li><a href="{{site.baseurl}}{{include.url}}" class="boton-white">↪ Mira la propiedad</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- End Counter Section Start -->