<!-- Recent Blog Posts Section -->
<section id="recent-posts" class="recent-posts wrapper">
  <div class="recent-posts-header flow">
    <h2>Conoce más sobre el mercado de casas en venta en Fusagasugá</h2>
    <p>En nuestro blog te ofrecemos más información sobre los servicios ofrecidos por nuestra agencia inmobiliaria, así como una lista de propiedades disponibles en Fusagasugá y las ventajas de asesorarte con nosotros.</p>
    <a href="{{'blog'|relative_url}}" class="boton boton2">Encuentra más artículos</a>
  </div>
  <div class="posts-container">
    {% for post in site.posts limit:3 %}
    <article class="post-card">
      <div class="post-img">
        <img src="/assets/images/blog/{{post.hero}}" alt="{{post.alt}}" loading="lazy">
      </div>
      <div class="post-content">
        <p class="post-category">{{post.category}}</p>
        <h3 class="post-title">
          <a href="{{post.url|relative_url}}">{{post.h1}}</a>
        </h3>
        <p class="post-date">
          <time datetime="{{post.date | date: '%Y-%m-%d' }}">{{post.date | date: "%d %b %Y" }}</time>
        </p>
      </div>
    </article>
    {% endfor %}
  </div>
</section>