<!-- Recent Blog Posts Section -->
<section id="recent-posts" class="recent-posts">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <div>
        <h2>Conoce más sobre los proyectos de vivienda y finca raíz de Fusagasugá</h2>
        <p>En nuestro blog te ofrecemos más información sobre los servicios ofrecidos por nuestra agencia inmobiliaria, así como una lista de propiedades disponibles en Fusagasugá y las ventajas de asesorarte con nosotros.</p>
      </div>
      <a href="{{site.baseurl}}/blog" class="btn-get-started" data-aos="fade-up" data-aos-delay="50"><i class="bi bi-chevron-double-right"></i></a>
    </div>
    <div class="row gy-4">
      <div class="col-lg-4">
        <article class="entry">
          <div class="post-img">
            <img src="assets/images/blog/blog-1.jpg" alt="Artículo" class="img-fluid" loading="lazy">
          </div>
          <p class="post-category">Comprar casa</p>
          <h2 class="title">
            <a href="blog-details.html">¿Qué requisitos legales hay que cumplir para comprar apartemento en Fusagasugá?</a>
          </h2>
          <div class="d-flex align-items-center">
            <div class="post-meta">
              <p class="post-date">
                <time datetime="2023-02-01">Feb 1, 2023</time>
              </p>
            </div>
          </div>
        </article>
      </div><!-- End post list item -->

      <div class="col-lg-4">
        <article class="entry">
          <div class="post-img">
            <img src="assets/images/blog/blog-2.jpg" alt="Artículo" class="img-fluid" loading="lazy">
          </div>
          <p class="post-category">Fusagasugá</p>
          <h2 class="title">
            <a href="blog-details.html">Los mejores barrios para vivir en Fusagasugá</a>
          </h2>
          <div class="d-flex align-items-center">
            <div class="post-meta">
              <p class="post-date">
                <time datetime="2023-05-05">Mayo 5, 2023</time>
              </p>
            </div>
          </div>
        </article>
      </div><!-- End post list item -->

      <div class="col-lg-4">
        <article class="entry">
          <div class="post-img">
            <img src="assets/images/blog/blog-3.jpg" alt="Artículo" class="img-fluid" loading="lazy">
          </div>
          <p class="post-category">Arriendos</p>
          <h2 class="title">
            <a href="blog-details.html">La lista de la semana de las casas en arriendo en Fusagasugá</a>
          </h2>
          <div class="d-flex align-items-center">
            <div class="post-meta">
              <p class="post-date">
                <time datetime="2023-11-22">Nov 22, 2023</time>
              </p>
            </div>
          </div>
        </article>
      </div><!-- End post list item -->

    </div><!-- End recent posts list -->

  </div>
</section><!-- End Recent Blog Posts Section -->