<footer>
  <section>
    <div>
      <a href="{{site.baseurl}}/" title="Inicio">
        <img src="{{'logo-mini.webp'|relative_url}}" alt="Logo diariogratitud.com" width="200" height="98" loading="lazy">
      </a>
    </div>
    <p>¿Necesitas un curso de inglés en Estados Unidos? Esta es tu página. Aquí encuentras la mejor escuela cerca de ti. También, te damos consejos prácticos para sacar el máximo provecho de tus clases de inglés en el país del Tío Sam.</p>
    <div>
      <h4>Nuestras páginas</h4>
      <a href="{{ site.baseurl }}/escuelas">⇾ Escuelas de Estados Unidos</a>
      <a href="{{ site.baseurl }}/blog">⇾ Mejora tu inglés</a>
      <a href="{{ site.baseurl }}/clases-en-linea">⇾ APRENDE EN GRUPO</a>
    </div>
    <div>
      <h4>Síguenos</h4>
      <a href="#">⇾ Instagram</a>
      <a href="#">⇾ TikTok</a>
    </div>
    <div>
      <h4>Consultas</h4>
      <a href="{{site.baseurl}}/legal" rel="nofollow">⇾ Privacidad, términos y condiciones</a>
      <a href="{{site.baseurl}}/sitemap.xml">⇾ Sitemap</a>
    </div>
  </section>
  <section>
  <q>&copy; aprendamosingles.us - {{ "now" | date:"%Y"}} - Todos los derechos reservados</q>
  </section>
</footer>