<!-- Footer -->
<footer id="footer" class="footer-section">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <h2>LEBEN Agencia Inmobiliaria de Fusagasugá</h2>
            </div>
            <div class="footer-text">
              <p>
                Contamos con un amplio portafolio de propiedades que se ajustan
                a tus necesidades. Ya sea que busques un acogedor apartamento o
                una casa amplia para tu familia, estamos aquí para convertir tus
                deseos en realidad
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <div class="contact-info">
                <h3>Datos de contacto de LEBEN Inmobiliaria</h3>
                <h4>Dirección de nuestra oficina:</h4>
                <p>
                  <a
                  href="https://maps.app.goo.gl/BDbfSjbfELzcr8wY9"
                  target="_blank"
                  >
                  CLL 19 #5-40, local 2 Mirador de la colina <br>
                  Fusagasugá, Cundinamarca
                  </a>
                </p>
              </div>
              <div class="contact-info">
                <h4>Celular y whatsapp:</h4>
                <p>
                  <a href="{{site.whatsapp}}">Whatsapp: 3160520942</a>
                </p>
                <p>
                  <a href="tel:3160520942">Llámanos: 3160520942</a>
                </p>
                <p>
                  <a href="tel:3224736189">Llámanos: 3224736189</a>
                </p>
              </div>
              <div class="contact-info">
                <h4>Nuestro Email:</h4>
                <p>
                  <a href="mailto:contactolebeninmobiliaria@gmail.com">contactolebeninmobiliaria@gmail.com</a>
                </p>
              </div>
              <div class="footer-social-icon">
                <span>Síguenes en redes:</span>
                <a href="{{site.facebook_url}}"><i class="fa fa-facebook facebook-bg"></i></a>
                <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                <a href="#"><i class="fa fa-google google-bg"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Accesos rápidos</h3>
            </div>
            <ul>
              <li><a href="{{site.baseurl}}/ventas">Ventas de casas Fusagasugá</a></li>
              <li><a href="{{site.baseurl}}/arriendo">Arriendo casas Fusagasugá</a></li>
              <li><a href="{{site.baseurl}}/servicios">Servicios</a></li>
              <li><a href="{{site.baseurl}}/nosotros">Nosotros</a></li>
              <li><a href="{{site.baseurl}}/blog">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-left text-lg-left">
          <div class="copyright-text">
            <p>PrimeProperty © {{ "now" | date:"%Y"}} - Designed by Zr Themes.</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block">
          <div class="footer-menu text-right">
            <ul>
              <li><a href="{{'legal'|relative_url}}">Condiciones y términos legales</a></li>
              <li><a href="{{'contacto'|relative_url}}">Contáctanos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
