<form method="post" action="https://sendfox.com/form/3z8w66/3lzxq0" class="sendfox-form flow" id="3lzxq0" data-async="true" data-recaptcha="true">
  <div>
    <p><label for="sendfox_form_name">Nombre: </label><input type="text" id="sendfox_form_name" placeholder="Ej. Fulanita" name="first_name" required /></p>
    <p><label for="sendfox_form_last_name">Apellido: </label><input type="text" id="sendfox_form_last_name" placeholder="Ej. Sultanita" name="last_name" required /></p>
    <p><label for="sendfox_form_email">Email: </label><input type="email" id="sendfox_form_email" placeholder="ejemplo@ejemplo.com" name="email" required /></p>
  </div>
    <p><label><input type="checkbox" name="gdpr" value="1" required /> Envíame noticias y promociones comerciales. <a href="/legal" rel="nofollow">Políticas de privacidad</a></label></p>
  <!-- no botz please -->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
  <p><button type="submit" class="boton boton_2">SUSCRIBIRME</button></p>
</form>
