<div class="seccion_formulario">
  <div class="card">
    <span class="title">Escribe tus datos y tu solicitud</span>
    <form class="form">
      <div class="group">
        <input placeholder="‎" type="text" required="">
      <label for="name">Nombre</label>
      </div>
      <div class="group">
        <input placeholder="‎" type="email" id="email" name="email" required="">
        <label for="email">Email</label>
        </div>
      <div class="group">
        <textarea placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
        <label for="comment">Comentarios / teléfono</label>
      </div>
      <button type="submit">Enviar datos</button>
    </form>
  </div>
  <ol>
    <li>Escribe tu nombre</li>
    <li>Escribe tu email</li>
    <li>Escribe qué solicitud te gustaría que te ayudemos a resolver</li>
    <li>Agrega tu teléfono</li>
    <li>Tan pronto tengamos tu mensaje, te contactaremos de inmediato</li>
    <li>También, nos puedes escribir directamente a <a href="#" title="WhatsApp de Leben Inmobiliaria">nuestro WhatsApp</a></li>
  </ol>
</div>
