<div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="20">
  <div>
    <ul class="portfolio-flters">
      <li data-filter="*" class="filter-active">Todos</li>
      <li data-filter=".ventas">Venta</li>
      <li data-filter=".arriendos">Arriendo</li>
      <li data-filter=".consignacion">Administración</li>
      <li data-filter=".proyectos">Proyectos</li>
    </ul><!-- End Portfolio Filters -->
  </div>

  <div class="row gy-4 portfolio-container">
    <div class="col-xl-4 col-md-6 portfolio-item ventas">
      <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="20">
        <a href="assets/images/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/images/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h3><a href="Project-details.html" title="LEBEN Inmobiliaria">Venta de casa en el centro de Fusagasugá</a></h3>
          <div class="project-deatils-aside">
            <div class="project-btn"><a href="Project-details.html" class="fill-btn">Ver más detalles</a></div>
        </div>
        </div>
      </div>
    </div><!-- End Portfolio Item -->

    <div class="col-xl-4 col-md-6 portfolio-item arriendos">
      <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="20">
        <a href="assets/images/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/images/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h3><a href="Project-details.html" title="LEBEN Inmobiliaria">Arriendo de apartamento en Fusagasugá</a></h3>
          <div class="project-deatils-aside">
              <div class="project-btn"><a href="Project-details.html" class="fill-btn">Ver más detalles</a></div>
          </div>
        </div>
      </div>
    </div><!-- End Portfolio Item -->

    <div class="col-xl-4 col-md-6 portfolio-item consignacion">
      <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="20">
        <a href="assets/images/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/images/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h3><a href="Project-details.html" title="LEBEN Inmobiliaria">Administración de finca de Fusagasugá</a></h3>
          <div class="project-deatils-aside">
            <div class="project-btn"><a href="Project-details.html" class="fill-btn">Ver más detalles</a></div>
          </div>
        </div>
      </div>
    </div><!-- End Portfolio Item -->

    <div class="col-xl-4 col-md-6 portfolio-item proyectos">
      <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="30">
        <a href="{{site.baseurl}}assets/images/portfolio/product-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/images/portfolio/product-4.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h3><a href="Project-details.html" title="LEBEN Inmobiliaria">Compra de lote en proyecto de Fusagasugá</a></h3>
          <div class="project-deatils-aside">
            <div class="project-btn"><a href="Project-details.html" class="fill-btn">Ver más detalles</a></div>
          </div>
        </div>
      </div>
    </div><!-- End Portfolio Item -->

    <div class="col-xl-4 col-md-6 portfolio-item ventas">
      <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="25">
        <a href="assets/images/portfolio/product-5.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/images/portfolio/product-5.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h3><a href="Project-details.html" title="LEBEN Inmobiliaria">Venta de apartaestudio en Fusagasugá</a></h3>
          <div class="project-deatils-aside">
            <div class="project-btn"><a href="Project-details.html" class="fill-btn">Ver más detalles</a></div>
          </div>
        </div>
      </div>
    </div><!-- End Portfolio Item -->

    <div class="col-xl-4 col-md-6 portfolio-item proyectos">
      <div class="portfolio-wrap" data-aos="fade-up" data-aos-delay="30">
        <a href="assets/images/portfolio/product-6.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/images/portfolio/product-6.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h3><a href="Project-details.html" title="LEBEN Inmobiliaria">Proyectos de vivienda en Fusagasugá</a></h3>
          <div class="project-deatils-aside">
            <div class="project-btn"><a href="Project-details.html" class="fill-btn">Ver más detalles</a></div>
          </div>
        </div>
      </div>
    </div><!-- End Portfolio Item -->
  </div><!-- End Portfolio Container -->
</div>