<header id="header" class="header d-flex align-items-center">
  <div class="container container-xl d-flex align-items-center justify-content-between">
    <a href="{{site.baseurl}}/" class="logo d-flex align-items-center">
      <span class="logo"><img src="{{site.baseurl}}/assets/images/logo-mini.webp" width="48" height="48" alt="Logo LEBEN inmobiliaria">LEBEN Inmobiliaria</span>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{{site.baseurl}}/servicios">Servicios</a></li>
        <li class="dropdown"><span>Ofertas</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
          <ul>
            <li><a href="{{site.baseurl}}/ventas">Propiedades en venta</a></li>
            <li><a href="{{site.baseurl}}/project-details">Propiedades en arriendo</a></li>
            <li><a href="{{site.baseurl}}/project-details">Propiedades en permuta</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/testimonios">Testimonios</a></li>
        <!-- <li><a href="{{site.baseurl}}/blog">Blog</a></li> -->
        <li><a href="{{site.baseurl}}/nosotros">Nosotros</a></li>
        <li><a href="{{site.baseurl}}/contacto">Contáctanos</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->
