<header class="navegacion">
  <div class="container_nav">
    <a href="/" class="logo"><img src="{{'assets/images/logo-mini.webp'|relative_url}}" alt="Logo Agencia Inmobiliaria Leben" title="Logo Agencia Leben Inmobiliaria">LEBEN Inmobiliaria</a>
    <nav class="nav_enlaces">
      <ul class="nav-links">
        <li class="nav_dropdown">
          <span>Ofertas</span>
          <ul class="dropdown-content">
            <li><a href="/ventas" title="Casas Fusagasugá">Casas en venta</a></li>
            <li><a href="/arriendo" title="Casas en arriendo Fusagasugá">Casas en arriendo</a></li>
            <li><a href="/consigna-tu-propiedad" title="Casas en consignación">Administramos tu propiedad</a></li>
          </ul>
        </li>
        <li class="nav_dropdown">
          <span>Servicios</span>
          <ul class="dropdown-content">
            <li><a href="/servicios" title="Servicio Inmobiliaria Leben">Diligencias legales</a></li>
            <li><a href="/simulador-gastos-notariales-colombia" title="Simulador gastos notariales">Simulador de gastos notariales</a></li>
          </ul>
        </li>
        <li class="nav_dropdown">
          <span>Info</span>
          <ul class="dropdown-content">
            <li class="nav-contacto"><a href="/contacto" class="btn-get-started" title="Contacto Leben Inmobiliaria Fusagasugá">Contáctanos</a></li>
            <li><a href="/nosotros" title="Página About Inmobiliaria Leben">Quienes somos</a></li>
            <li><a href="/blog" title="Blog Inmobiliaria Leben">Blog de Leben</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="mobile-nav-toggle">
      <span class="burger-menu"></span>
    </div>
  </div>
</header>