<header class="navegacion">
  <div class="container_nav">
    <a href="/" class="logo"><img src="{{'assets/images/logo-mini.webp'|relative_url}}" alt="Logo Agencia Inmobiliaria Leben" title="Logo Agencia de Fusagasugá Leben Inmobiliaria">LEBEN Inmobiliaria</a>
    <nav class="nav_enlaces">
      <ul class="nav-links">
        <li class="nav_dropdown">
          <span>Ofertas</span>
          <ul class="dropdown-content">
            <li><a href="/ventas">Casas en venta</a></li>
            <li><a href="/arriendo">Casas en arriendo</a></li>
            <li><a href="/consigna-tu-propiedad">Administramos tu propiedad</a></li>
          </ul>
        </li>
        <li class="nav_dropdown">
          <span>Servicios</span>
          <ul class="dropdown-content">
            <li><a href="/servicios">Diligencias legales</a></li>
            <li><a href="/simulador-gastos-notariales-colombia">Simulador de gastos notariales</a></li>
          </ul>
        </li>
        <li class="nav_dropdown">
          <span>Nosotros</span>
          <ul class="dropdown-content">
            <li><a href="/nosotros">Quienes somos</a></li>
            <li><a href="/blog">Blog de Leben</a></li>
            <li><a href="/contacto">Contáctanos</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="mobile-nav-toggle">
      <span class="burger-menu"></span>
    </div>
  </div>
</header>