<!-- About Us Section -->
<section id="whyus" class="about">
  <div class="overlay-right"></div>
  <div class="container">
    <div>
      <h2>En LEBEN inmobiliaria Fusagasugá te ayudamos a encontrar la casa que necesitas</h2>
      <p>Aprovechas las <strong>gangas de casas en Fusagasugá</strong> que hemos encontrado para ti. ¿La necesitas a la
        venta o en arriendo?</p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="content ps-0">
          <p>TE acompañamos en todo el proceso de buscar una casa para comprar o alquilar. Y <strong>nuestra
              inmobiliaria se hace cargo de todas las diligencias por ti.</strong> Tu solo tendrás que venir a disfrutar
            de tu vivienda en Fusagasugá u otros municipios de Cundinamarca.</p>
          <h3>Leben inmobiliaria en Fusagasugá te ayuda con esa casa en venta</h3>
          <ul>
            <li><a href="{{'ventas'|relative_url}}"><i class="bi bi-link-45deg"></i> Casas, fincas, quintas, lotes y
                apartamentos <strong>EN VENTA</strong></a></li>
            <li><a href="{{'arriendo'|relative_url}}"><i class="bi bi-link-45deg"></i> Casas, apartamentos o fincas
                <strong>EN ARRIENDO</strong></a></li>
            <li><a href="{{'consigna-tu-propiedad'|relative_url}}"><i class="bi bi-link-45deg"></i> Administración de
                apartamentos y casas <strong>EN CONSIGNACIÓN</strong></a></li>
          </ul>
          <blockquote>"En LEBEN somo expertos consiguiendo los mejores lugares para vivir bien sabroso en Fusagasugá"
          </blockquote>
          <h3>La casa en Fusagasugá que necesitas nosotros la encontramos por ti. Escríbenos</h3>
          <a href="{{site.whatsapp}}" class="btn-get-started" style="max-width: max-content;">Cuéntanos qué buscas</a>
        </div>
      </div>
      <div class="col-lg-6 position-relative  ps-lg-5" >
        <img src="assets/images/casas-en-fusagasuga.webp" class="img-fluid mb-4"
          alt="Fotos de apartamentos en venta en Fusagasugá" loading="lazy">
        <div class="img-overlay-right">
          <h3><span>+1000</span> negocios exitosos realizados por LEBEN</h3>
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->