<!--Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div>
      <h2>Arrienda, compra, vende o permuta tus propiedades y proyectos con LEBEN Inmobiliaria en Fusagasugá</h2>
      <p>Para ti y tu familia que están en busca de su hogar ideal, Fusagasugá, Colombia, presenta una variedad de oportunidades. La oferta de casas espaciosas y modernas en barrios bien establecidos. También las clásicas viviendas encantadoras y tradicionales en entornos serenos.</p>
      <p>Estos son ejemplos de <strong>casas, fincas, quintas, apartaestudios, y apartamentos que ahora nuestros clientes disfrutan en Fusagasugá.</strong> ¿Te gustaría encontrar el tuyo? ¡Escógelo!</p>
    </div>
  
    {% include search.html %}

    <div class="blog-tags">
      <button data-name="all" class="active">Todos</button>
      <button data-name="ventas">Ventas</button>
      <button data-name="arriendos">Arriendos</button>
    </div>

    <div class="posts">
    {% for item in site.data.portafolio %}
      <div class="post" data-name="{{ item.clase }}">
        <a href="{{item.url|relative_url}}" title="Inmobiliaria LEBEN Fusagasugá">
          <img src="{{site.baseurl}}/assets/images/portfolio/{{item.img}}" class="img-fluid" alt="{{item.alt}}" loading="lazy">
          <h3>{{item.cta}}</h3>
        </a>
      </div>
    {% endfor %}
    </div>
</section><!-- End Portfolio Section -->