<!--Portfolio Section -->
<section id="portfolio" class="wrapper">
  <h2>LEBEN Inmobiliaria de Fusagasugá te ayuda a conseguir casas en venta y en arriendo</h2>
  <p>Tú y tu familia están en busca de <strong>casas en venta en Fusagasugá</strong> o en otro municipio de Cundinamarca. ¡Leben Inmobiliaria la consigue por ti!</p>
  <div class="blog-tags">
    <button data-name="all" class="active">Todos</button>
    <button data-name="ventas">Ventas</button>
    <button data-name="arriendos">Arriendos</button>
  </div>
  <div class="posts">
    {% for item in site.data.portafolio %}
    <article class="post portafolio_item" data-name="{{ item.clase }}">
      <img src="{{site.baseurl}}/assets/images/portfolio/{{item.img}}" class="img-fluid" alt="{{item.alt}}" loading="lazy" title="Agencia inmobiliaria Leben: {{item.title}}">
      <div>
        <h3>→ {{item.cta}}</h3>
        <small><b>Valor:</b> ${{item.precio | number_with_delimiter: '.' }}</small>
        <small><b>Area:</b> {{item.area}}</small>
        <small>Casa en {{item.clase | remove: "s" }}</small>
        <a href="{{item.url|relative_url}}" title="Contacto Inmobiliaria LEBEN Fusagasugá">Más información</a>
      </div>
    </article>
    {% endfor %}
  </div>
</section><!-- End Portfolio Section -->