<!--Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div>
      <h2>Arrienda, compra, vende o permuta tu casa con la inmobiliaria de Fusagasugá más confiable</h2>
      <p>Aquí la oferta de casas espaciosas y apartamentos económicos en barrios bien establecidos es amplia. También,
        las clásicas fincas encantadoras y tradicionales en entornos campestres.</p>
    </div>

    {% include search.html %}
    <h3>En la inmobiliaria LEBEN de Fusagasugá somos especialista en casas en venta y en arriendo</h3>
    <p>Tú y tu familia están en busca de <strong>casas en venta en Fusagasugá</strong> o en otro municipio de
      Cundinamarca. Cuenta con nosotros.</p>
    <p>Estos son ejemplos de <strong>casas, fincas, quintas, apartaestudios, y apartamentos que conseguimos para
        nuestros clientes en Fusagasugá.</strong> Escoge el que más te guste.</p>

    <div class="blog-tags">
      <button data-name="all" class="active">Todos</button>
      <button data-name="ventas">Ventas</button>
      <button data-name="arriendos">Arriendos</button>
    </div>

    <div class="posts">
      {% for item in site.data.portafolio %}
      <div class="post" data-name="{{ item.clase }}">
        <a href="{{item.url|relative_url}}" title="Inmobiliaria LEBEN Fusagasugá">
          <img src="{{site.baseurl}}/assets/images/portfolio/{{item.img}}" class="img-fluid" alt="{{item.alt}}"
            loading="lazy">
          <h3>{{item.cta}}</h3>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section><!-- End Portfolio Section -->