<!--Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div>
      <h2>Arrienda, compra, vende o permuta tu casa o propiedades con LEBEN inmobiliaria en Fusagasugá</h2>
      <p>Tú y tu familia están en busca de su hogar ideal en Fusagasugá, Colombia.</p> 
      <p>Aquí la oferta de casas espaciosas y apartamentos económicos en barrios bien establecidos es amplia. También, las clásicas fincas encantadoras y tradicionales en entornos campestres.</p>
      <h3>Somos LEBEN, la inmobiliaria de Fusagasugá que te ayudará a encontrar esas casa ideal</h3>
      <p>Estos son ejemplos de <strong>casas, fincas, quintas, apartaestudios, y apartamentos que conseguimos para nuestros clientes en Fusagasugá.</strong> Escoge el que más te guste.</p>
    </div>
  
    {% include search.html %}

    <div class="blog-tags">
      <button data-name="all" class="active">Todos</button>
      <button data-name="ventas">Ventas</button>
      <button data-name="arriendos">Arriendos</button>
    </div>

    <div class="posts">
    {% for item in site.data.portafolio %}
      <div class="post" data-name="{{ item.clase }}">
        <a href="{{item.url|relative_url}}" title="Inmobiliaria LEBEN Fusagasugá">
          <img src="{{site.baseurl}}/assets/images/portfolio/{{item.img}}" class="img-fluid" alt="{{item.alt}}" loading="lazy">
          <h3>{{item.cta}}</h3>
        </a>
      </div>
    {% endfor %}
    </div>
</section><!-- End Portfolio Section -->