<aside class="entradas">
<h3>¿Necesitas más tips para mejorar tu inglés? Mira estos artículos:</h3>
<div class="contenido-blog">

  {% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:4 %}
  {% for post in site.posts | limit: 3 %}
<article class="flow">
  <div>
    {% if post.webp %}
    <img src="{{site.baseurl}}/img/{{post.webp}}" alt="{{post.alt}}" title="{{post.title}}" width="320" height="240" loading="lazy">
    {% endif %}
    {% if post.avif %}
    <img src="{{site.baseurl}}/img/{{post.avif}}" alt="{{post.alt}}" title="{{post.title}}" width="320" height="240" loading="lazy">
    {% endif %}
    <a href="{{ post.url }}" title="{{ post.title }}">
      <h4>{{ post.title }}</h4>
    </a>
  </div>
</article>
{% endfor %}
</div>
</aside>