<div class="container_simulador">
  <h2>Simulador de Gastos Notariales en Colombia</h2>
  <ol>
    <li>Escribe el valor del inmueble que deseas comprar y vender.</li>
    <li>Luego, para <strong>cacular el valor del gasto notarial</strong> solo debes hacer clic en el botón <i>"Calcular Gasto Notarial"</i>.</li>
  </ol> 
  <h3>Calcula aquí tus gastos notariales</h3>
  <form id="notaryCalculator">
    <label for="propertyValue">Valor del Inmueble (COP):</label>
    <input type="number" id="propertyValue" name="propertyValue" required>
    <button type="button" onclick="calculateExpenses()">Calcular Costos Notariales</button>
  </form>
  <div id="results" class="hidden">
    <h3>Resultados:</h3>
    <p>Gastos Notariales: <span id="notaryFees"></span> COP</p>
    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="icon line-color" data-name="Line Color" viewBox="0 0 24 24"><path d="M17 17h-7m3-4h4M9 6l-6 6M3.45 6.5h.1" style="fill:none;stroke:#c0403b;stroke-linecap:round;stroke-linejoin:round;stroke-width:2"/><path d="M8.45 11.5h.1" data-name="secondary-upstroke" style="fill:none;stroke:#c0403b;stroke-linecap:round;stroke-linejoin:round;stroke-width:2"/><path d="M13 3h7a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-4" style="fill:none;stroke:#302b27;stroke-linecap:round;stroke-linejoin:round;stroke-width:2"/></svg> Derechos de Registro: <span id="registryFees"></span> COP</p>
    <p>Certificados: <span id="certificatesFees"></span> COP</p>
    <p>Total: <span id="totalFees"></span> COP</p>
    <h2>¡No pierdas tiempo o dinero por una mala diligencia! Contacta nuestro asesor experto.</h2>
    <a href="https://wa.me/573102155237?text=Hola!%20Estaba%20en%20la%20p%C3%A1gina%20web%20de%20LEBEN.%20Por%20favor,%20env%C3%ADame%20m%C3%A1s%20info%20sobre%20el%20servicio%20de%20gastos%20notariales" class="btn-get-started">Recibe más información</a>

  </div>
</div>