<!-- Testimonials Section -->
<section id="testimonials" class="testimonials">
  <div class="wrapper">
    <div class="flow">
      <small>Testimonios de Leben Inmobiliaria</small>
      <h2>Quienes ya encontraron su casa con Leben Inmobiliaria nos recomiendan</h2>
    </div>
    <div class="posts">
      {% for testimonio in site.data.testimonios %}
      <article class="post portafolio_item">
        <img src="{{site.baseurl}}/assets/images/testimonials/{{testimonio.img}}" class="img-fluid" alt="Foto de cliente de Leben Inmobiliaria" loading="lazy" title="Testimonio de Leben Leben: {{item.nombre}}">
        <div class="flow">
          <h3>→ {{item.nombre}}</h3>
          <small>{{testimonio.negocio}}</small>
          <small class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></small>
          <hr>
          <small><i class="bi bi-quote quote-icon-left"></i>
            {{testimonio.palabras}}
            <i class="bi bi-quote quote-icon-right"></i></small>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section><!-- End Testimonials Section -->