/* SHARE */

.share {
  background-color: var(--secundario);
  padding: 1em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.share span {
  color: var(--complemento2);
}

#share-buttons {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#share-buttons:after {
  content: "";
  display: block;
  clear: both;
}

#share-buttons>div {
  position: relative;
  text-align: left;
  height: 40px;
  width: 40px;
  float: left;
  text-align: center;
}

#share-buttons>div>svg {
  height: 20px;
  fill: white;
  margin-top: 10px;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#share-buttons>div>svg:hover {
  fill: var(--accion);
  transform: scale(1.5);
}

#share-buttons>div:hover {
  cursor: pointer;
}

/* Contenido de la página ciudades */
.ciudades {
  background-color: var(--secundario);
  box-shadow: 0 0 0 100vmax var(--secundario);
  clip-path: inset(0 -100vmax);
  padding: 4em 0 2em;
}

.ciudades h2 {
  margin-bottom: 1em;
}

.estados {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.estados button {
  flex: 1 0 max-content;
  padding: 8px 12px;
  border: none;
  border-radius: var(--radius);
  background-color: var(--principal);
  font-weight: bolder;
  font-family: var(--fuenteTexto);
  font-size: 1rem;
  transition: all .15s ease-out;
  color: white;
}

.estados button.active {
  background-color: var(--accion);
  color: white;
}

.estados button:hover {
  transform: scale(1.05);
  background-color: var(--accion);
  box-shadow: var(--shadow);
}

.contenido h3{
  text-align: left;
}

.contenido img{
  float: right;
  display: block;
  width: min(100%, 320px);
  margin-left: 1em;
  margin-bottom: 1em;
}

.contenido p > a.boton {
  display: inline-block;
}

.contenido p:has(a.boton) {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.contenido ul li:not(.escuela_puntos ul li){
  list-style: disc;
}

@media screen and (width <= 500px) {
  .contenido img{
    float: none;
    margin-left: 0;
    margin-bottom: 0;
    margin-inline: auto;
  }
  
}

.post.hide {
  display: none;
}

.post span {
  display: inline-block;
  font-size: 2rem;
  margin: 1em 0;
  font-weight: bolder;
  font-family: var(--fuenteTitulos);
  background-color: var(--secundario);
  padding: 8px 12px;
  width: 100%;
  border-radius: var(--radius);
}

.post .links {
  padding: 0 0 2rem;
}

.post .links article {
  flex: 1 0 320px;
  border-bottom: 1.2px dotted var(--gris1);
  max-width: max-content;
  padding: 1em 0;
} 