/****** boton arriba ******/
.scroll-top {
  transition: all 0.4s;
}

.scroll-top:hover {
  background: var(--accion);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 60px;
}

/******** botones principal y secundario ********/
.boton{
  padding: 16px 24px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min(100%, 320px);
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-top: 1em;
}

.boton1 {
  color: #ffffff;
  background: var(--accion);
}

.boton1:hover {
  color: #ffffff;
  box-shadow: var(--shadow);
  transform: scale(1.015);
}

.boton2 {
  background-color: #fefefe;
  color: var(--accion);
  border: 2px solid var(--accion);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.boton2:hover {
  transform: scale(1.015);
  box-shadow: var(--shadow);
}