.contacto p,
.contacto h2{
  margin-bottom: 2rem;
}

#formulario > p{
  text-align: center;
}

form{
  display: grid;
  place-items: center;
}

form div{
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

form label{
  font-weight: bolder;
}

form p input:not([type="checkbox"]) {
  width: 100%;
  padding: 15px;
  border: 1px solid darken(var(--gris1), 5%);
  border-bottom: 2px solid var(--complemento1);
  transition: transform 0.3s;
}

textarea form input {
  resize: none;
}

@media screen and (min-width: 768px) {

  figure.img-contacto-1 {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    float: right;
  }

  figure.img-contacto-2 {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    float: left;
  }

  figure.img-contacto-1,
  figure.img-contacto-2 {
    margin: 3em;
  }
}