.entradas {
  display: grid;
}

.entradas h2{
  margin-bottom: 1em;
}

.entradas > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
}

.entradas > div h3 {
  flex: 0 1 800px;
  justify-self: left;
}

.entradas > div article {
  background-color: white;
  padding: 1em;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  flex: 0 1 320px;
  max-width: 100%;
}

.entradas > div article h4 {
  color: var(--accion);
  font-size: 1.2em;
  margin-top: 1em;
}

.entradas > a {
  justify-self: center;
  margin-top: 2rem;
}

.doble_columna {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: flex-start;
  justify-content: space-between;
}

.doble_columna > div{
  flex: 1 0 400px;
  max-width: 100%;
  margin: 2em 0;
}

.doble_columna>div:not(.flow) {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.doble_columna div div svg {
  width: 80px;
  height: 80px;
  margin: 0;
}

.doble_columna .datos span {
  font-size: clamp(2rem, 2.8vw + 1rem, 2.75rem);
  font-family: var(--fuenteTitulos);
}

.beneficios {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
}

.beneficios article {
  background-color: var(--gris3);
  padding: 2em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.beneficios a{
  font-family: var(--fuenteTitulos);
  font-size: 1.2em;
}

.beneficios article p {
  margin: 0;
}

.articulos {
  background: #44A08D;
  background: -webkit-linear-gradient(to right, #093637, #44A08D);
  background: linear-gradient(to right, #093637, #44A08D);
  color: white;
  padding: 4em 2rem;
  display: grid;
  place-items: center;
  gap: 2em;
}

.articulos h2,
.articulos h3,
.articulos h4,
.articulos p{
  color: white;
  margin: 0;
}

.articulos article{
  margin: 1em 0 2em;
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cta{
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 460px), 1fr));
  justify-content: center;
}

.cta div{
  width: min(100%, 480px);
  text-align: center;
}

.cta img{
  width: min(100%, 720px);
}
