nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 5% 8px;
  background-color: var(--blanco);
  border-top: 1px solid var(--gris3);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: max-content;
  justify-content: space-evenly;
}

nav span {
  display: none;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5em;
}

nav ul li {
  list-style: none;
  margin: 0;
}

nav a {
  flex: 0 1 80px;
  text-decoration: none;
  font-size: 1.4em;
}

nav ul li a {
  border-radius: var(--radius);
  padding: 8px 16px;
  background-color: var(--blanco);
  transition: all .2s;
}

nav ul a:hover,
nav ul a.active {
  background-color: var(--oficial);
  color: var(--blanco);
}

@media screen and (width >=800px) {
  nav {
    top: 0;
    bottom: auto;
    padding: 16px 5%;
    border-top: none;
    border-bottom: 1px solid var(--gris3);
    justify-content: space-between;
  }

  nav span {
    display: inline-block;
  }

  nav .logo {
    justify-content: left;
    width: max-content;
  }

  nav .logo:hover {
    background-color: transparent;
  }

  nav .logo span {
    font-family: var(--fuenteTitulos);
    font-weight: 700;
    color: var(--oficial);
    font-size: 1em;
  }

  nav a,
  .logo {
    flex: 0 1 auto;
  }

  nav ul {
    justify-content: right;
    margin-left: auto;
  }

  nav ul li a {
    font-size: 1em;
    color: var(--oficial);
  }

}