---
---
{% include css/universal.css %}
{% include css/nav.css %}
{% include css/botones.css %}
{% include css/header.css %}
{% include css/datos.css %}
{% include css/team.css %}
{% include css/entradas.css %}
{% include css/footer.css %}
{% include css/buscador.css %}
{% include css/seccion_ventas.css %}
{% include css/image-gallery.css %}
{% include css/articulos.css %}
{% include css/faq.css %}
{% include css/servicios.css %}
{% include css/contacto.css %}
{% include css/queries.css %}

.header {
  z-index: 997;
  position: absolute;
  height: 79px;
  background: transparent;
  width: 100%;
}
.header .logo img {
  max-height: 44px;
  min-height: 44px;
  margin-right: 4px;
  padding: 8px;
}
.header .logo span {
  font-size: clamp(1.25rem, 1.107rem + 0.71vw, 1.75rem);
  margin: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: var(--font-heading);
  font-weight: 700;
}

.hero {
  width: 100%;
  position: relative;
  background-size: 128%;
  min-height: 60dvh;
  background: #fff;
  z-index: 0;
  padding: 200px 0 100px;
  height: auto;
}
.hero .title {
  color: #ffffff;
  font-weight: 900;
  font-size: clamp(2.2rem, 1.982rem + 1.09vw, 2.8rem);
  margin: 0 0 1em 0;
  line-height: 1;
}
.hero-main-image {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  -webkit-animation: crescendo 7.5s alternate infinite ease-in;
  animation: crescendo 7.5s alternate infinite ease-in;
}
@-webkit-keyframes crescendo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes crescendo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.image-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  background: linear-gradient(0deg, #000000, #000000 786px);
  opacity: 0.6;
}
.hero p {
  line-height: 1.14;
  font-size: 3rem;
  color: #ffffff;
  font-family: var(--font-default);
}
.hero h1 {
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 30px;
  font-size: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
}

.hero::after {
  display: none;
}
@media screen and (max-width: 1279px) {
  .hero {
    position: relative;
    background-size: cover;
    min-height: 501px;
    height: auto;
    background-repeat: no-repeat;
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .hero .btn-get-started {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

.overlay-left {
  position: absolute;
  left: -21%;
  width: 50%;
  top: -30%;
  bottom: 0;
  height: 2001px;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  background: linear-gradient(
    0deg,
    var(--accion),
    var(--accion) 786px
  );
  opacity: 9;
  transform: rotate(20deg);
}

@media screen and (max-width: 1279px) {
  .overlay-right,
  .overlay-left {
    display: none;
  }
}

.about{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about .overlay-right {
  position: absolute;
  right: -16%;
  width: 50%;
  top: -30%;
  bottom: 0;
  height: 2001px;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  background: rgb(254, 254, 254);
  background: linear-gradient(
    172deg,
    rgba(254, 254, 254, 1) 25%,
    rgba(182, 6, 0, 1) 68%
  );
  opacity: 9;
  transform: rotate(20deg);
  overflow: hidden;
}

.about h3 {
  font-size: 1.17em;
  margin-bottom: 20px;
  font-family: var(--font-heading);
}

.about h3 span {
  font-size: 68px;
  width: 100%;
  display: block;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  position: relative;
  color: var(--accion);
  margin-bottom: 15px;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #363636;
  padding: 10px;
  font-size: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
}

.about .content ul li:hover {
  position: relative;
  color: #484b4a;
}

.about .content ul li:hover i {
  color: var(--accion);
}

.about .content ul i {
  color: var(--accion);
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(
    var(--accion) 50%,
    rgba(0, 131, 116, 0.4) 52%
  );
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 131, 116, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

.about .play-btn:hover:after {
  border-left: 15px solid var(--accion);
  transform: scale(20);
}

.content p {
  color: var(--principal);
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes load {
  from {
    width: 0%;
  }
}

@-webkit-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  padding: 1px;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #ffffff;
  background: #f1f1f1;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow);
}

.bar::before {
  content: attr(data-skill);
  background-color: var(--accion);
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before {
  background-color: var(--accion);
}

.bar.back::before {
  background-color: var(--accion);
}

.bar.learning::before {
  width: calc(20% - 10px);
}

.bar.basic::before {
  width: calc(40% - 10px);
}

.bar.intermediate::before {
  width: calc(60% - 10px);
}

.bar.advanced::before {
  width: calc(80% - 10px);
}

.bar.expert::before {
  width: calc(100% - 10px);
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/

.clients .swiper {
  overflow: hidden;
}

.clients .swiper-slide img {
  transition: 0.3s;
  border-radius: 2px;
}

.clients .swiper-slide img:hover {
  transform: scale(1.1);
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accion);
}

/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.cta-landing {
  background-color: var(--principal);
  box-shadow: 0 0 0 100vmax var(--principal);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
          
  div{
    width: min(100%, 992px);
    margin-inline: auto;
    padding: 4em 16px;
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
  }
}

.cta-landing ol li {
  list-style: decimal;
}

.cta-landing ol li::marker {
  font-size: 1.5em;
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/

.stars {
  display: flex;
  justify-content: space-around;
  color: var(--secundario);
}

.counter-area {
  background: url("../images/cta-bg.webp");
  background-size: cover;
  border-radius: 0px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  position: relative;
  padding: 6em 0;
}

.counter-area::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
  background: var(--accion);
}

.counter-area ul li {
  color: #ffffff !important;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
}

.counter-container h3 {
  margin-top: 1em;
}

.counter-container i {
  margin-bottom: 0px;
}

.counter-container ul {
  text-align: left;
}

.counter-container ul li {
  list-style: none;
  line-height: 33px;
}

.counter-container ul li:last-child {
  margin: 0;
}

.counter-container ul li:has(a) {
  margin-top: 1em;
}

.counter-container .icon {
  width: 100%;
  overflow: hidden;
}

.counter-container .icon img {
  width: 100%;
  border-radius: 16px;
}

.datos-h2 {
  text-align: left;
}

.counter {
  font-size: 122px;
  line-height: 100px;
  margin-top: 10px;
  font-weight: 300;
}

.counter-area span {
  margin-top: 0px;
}

#counter .container .row {
  align-items: center;
}

/*--------------------------------------------------------------
# Banner de noticias
--------------------------------------------------------------*/

.carousel_container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--principal);
}

.carousel {
  white-space: nowrap;
}

.carousel .carousel_texto {
  display: flex;
  gap: 2em;
  padding: 80px 0 40px;
}

.carousel .carousel_texto p {
  font-size: 1.4em;
  color: white;
  font-weight: bolder;
  margin: 0;
  -webkit-animation: banner 15s infinite linear;
          animation: banner 15s infinite linear;
}

@-webkit-keyframes banner {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(-98%);
  }
}

@keyframes banner {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(-98%);
  }
}

@media screen and (min-width: 992px) {
  @-webkit-keyframes banner {
    from {
      transform: translateX(95%);
    }
    to {
      transform: translateX(-95%);
    }
  }
  @keyframes banner {
    from {
      transform: translateX(95%);
    }
    to {
      transform: translateX(-95%);
    }
  }
}
/* -------------------------------------------------------------- **
  Contact
 -------------------------------------------------------------- **/
.contacto {
  padding: 4em clamp(16px, calc(100% - 90vw), 20vw);
  margin: 2em 0;
  display: grid;
  gap: 2em;
  place-items: center;
  box-shadow: 0 0 0 100vmax var(--blanco);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
  min-height: 70vh;
}

.contacto h2,
.contacto p,
.contacto h3 {
  width: min(100%, 992px);
  text-align: center;
}

.blog-tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 4em auto 2em;
  justify-content: center;
  align-items: center;
}

.blog-tags button {
  padding: 8px 20px;
  border: none;
  border-radius: var(--radius);
  background-color: var(--accion);
  font-weight: bolder;
  font-family: var(--fuenteTexto);
  font-size: 1rem;
  transition: all 0.15s ease-out;
  color: white;
}

.blog-tags button.active {
  background-color: white;
  color: var(--color-secondary);
  box-shadow: var(--shadow);
  border: solid 2px var(--color-secondary);
}

.blog-tags button:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow);
}

.post a {
  position: relative;
}

.post img {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: min(100%, 400px);
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post a:hover img,
.post a:hover h3 {
  transform: scale(1.025);
  font-weight: 700;
  box-shadow: var(--shadow);
}

.post a h3 {
  width: min(100%, 400px);
  border: solid 2px #eee;
  position: relative;
  background-color: white;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.post.hide {
  display: none;
}

.posts {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
}

.container-clima {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}

#weatherInfo {
  margin-top: 20px;
  font-size: 1.2em;
}

.portafolio_item {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: center;
}

.portafolio_item img {
  width: min(100%, 200px);
}

.portafolio_item div {
  display: grid;
  place-content: center;
  box-shadow: var(--shadow);
  padding: 20px;
  align-content: flex-start;
}

.portafolio_item div h3 {
  font-size: clamp(1.16rem, 1.145rem + 0.07vw, 1.2rem);
  font-weight: 700;
}

/* FORMULARIO DE CONTACTO */
.seccion_formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.seccion_formulario ol{
  flex: 1 0 320px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.form .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: var(--color-secondary);
}

.form .group input:focus+ label, .form .group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  resize: none;
  height: 100px;
}



.form button:hover {
  background-color: #c9251f;
}
/* caculadora de comisiones*/
/* Estilos generales */
.calculator-section h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

/* Sección de la calculadora */
.calculator-section {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.calculator-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calculator-form .form-group {
  display: flex;
  flex-direction: column;
}

.calculator-form .form-group label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.calculator-form .form-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.calculator-form .form-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.calculator-form .btn {
  padding: 0.75rem;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calculator-form .btn:hover {
  background-color: #0056b3;
}

/* Estilo del resultado */
.calculator-form .result {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-top: 1rem;
}

