---
layout: compress
title: "✨ Agradecimiento: un sentimiento que transforma vidas"
h1: "Agradecimiento: un sentimiento que transforma vidas"
description: "💌 Aprende sobre la gratitud y cómo puede cambiar tu vida. Encuentra mensajes de agradecimiento que expresan lo que sientes. ¡Haz clic y comienza a agradecer hoy!"
webp: blog-hero.webp
---
{% include head.html %}
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM22363W"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include nav.html %}
  <header class="home">
    <div>
      
      <h1>{{page.h1}}</h1>
      <p>{{page.intro}}</p>
    </div>
    {% if page.escuelas != "no" %}
    <div class="flow">
      <a href="{{site.baseurl}}{{page.url}}#{{page.boton1_url}}" title="{{page.boton1}}" class="boton boton_2">{{page.boton1 | capitalize}}</a>
      <a href="{{site.baseurl}}{{page.url}}#{{page.boton2_url}}" title="{{page.boton2}}" class="boton boton_2">{{page.boton2 | capitalize}}</a>
    </div>
    {% endif %}
  </header>
  <main class="contenido wrapper flow" id="escuelas">
    <h2>Escuelas de inglés en {{page.ciudad | capitalize | escape  }}</h2>
    {% if page.escuelas != "no" %}
    {% include escuelas.html %}
    {% endif %}
    <hr>
    <div id="consejos" class="flow">
      {{content}}
    </div>
  </main>
  {% include cta.html %}
  {% include footer.html %}
  <a href="#">{% include boton-up.html %}</a>
  </body>
  <script async>
    const filterButtons = document.querySelectorAll(".estados button");
    const filterPosts = document.querySelectorAll(".posts .post");
  
    const filter = e => {
      filterButtons.forEach(button => button.classList.toggle("active", button === e.target));
  
      filterPosts.forEach(post => {
        post.classList.toggle("hide", post.dataset.name !== e.target.dataset.name && e.target.dataset.name !== "all");
      });
    };
  
    filterButtons.forEach(button => button.addEventListener("click", filter));
    </script>
</html>