---
layout: compress
---
{% include head.html %}
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNQTBJNT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
 
  {% include nav.html %}
  {{content}}
  {% include footer.html %}

  <a href="#" class="boton-whatsapp">
    <img src="{{'assets/images/whatsapp-logo.webp'|relative_url}}" alt="Logo de WhatsApp" title="WhatsApp de Leben Inmobiliaria Fusagasugá">
  </a>

  <a href="#" class="scroll-top" title="Leben Inmobiliaria">↥</a>
  
  <script defer src="{{'/js/whatsapp.js' | relative_url}}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    const mobileNavToggle = document.querySelector('.mobile-nav-toggle');
    const navLinks = document.querySelector('.nav-links');
    const header = document.querySelector('.navegacion');
    const dropdowns = document.querySelectorAll('.nav_dropdown');

    mobileNavToggle.addEventListener('click', function() {
      navLinks.classList.toggle('nav-links-mobile');
      this.classList.toggle('active');
      
      if (this.classList.contains('active')) {
        this.querySelector('.burger-menu').style.background = 'transparent';
        this.querySelector('.burger-menu::before').style.transform = 'rotate(45deg) translate(5px, 5px)';
        this.querySelector('.burger-menu::after').style.transform = 'rotate(-45deg) translate(7px, -6px)';
      } else {
        this.querySelector('.burger-menu').style.background = '#fff';
        this.querySelector('.burger-menu::before').style.transform = 'none';
        this.querySelector('.burger-menu::after').style.transform = 'none';
      }
    });

    dropdowns.forEach(dropdown => {
      dropdown.addEventListener('click', function() {
        if (window.innerWidth <= 768) {
          this.classList.toggle('active');
        }
      });
    });

    window.addEventListener('scroll', function() {
      if (window.scrollY > 0) {
        header.classList.add('header-scroll');
      } else {
        header.classList.remove('header-scroll');
      }
    });
  });
  </script>    

  <!-- Vendor JS Files -->
  <script src="/assets/javascripts/jquery.min.js" defer></script>

  {% if post.layout != "post" %}
  <script async>
    const filterButtons = document.querySelectorAll(".blog-tags button");
    const filterPosts = document.querySelectorAll(".posts .post");
    const filter = e => {
      filterButtons.forEach(button => button.classList.toggle("active", button === e.target));
  
      filterPosts.forEach(post => {
        post.classList.toggle("hide", post.dataset.name !== e.target.dataset.name && e.target.dataset.name !== "all");
      });
    };
    filterButtons.forEach(button => button.addEventListener("click", filter));
    </script>
{% endif %}
{% if page.url == "/" %}
  
  <!-- Script pointing to search-script.js -->
  <script src="{{site.baseurl}}/js/search-script.js"></script>
  <!-- Buscador -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '{{site.baseurl}}/search.json',
        searchResultTemplate: '<div><a href="{url}"><h3>{title}</h3></a><p>{tipoInmueble}</p><p>Precio: {precio}</p></div>',
        noResultsText: "Sin resultados. Busca con otra palabra"
      });
    });
  </script>
    {% endif %}
    {% if page.url contains "cuanto-se-debe-pagar-a-la-inmobiliaria" %}
    <script src="{{'/assets/javascripts/calculadora.js' | relative_url }}"> </script>
    {% endif %}
    
    {% if page.layout == "venta" or page.layout == "arriendo" %}
      <!-- Vendor JS Files -->
      <script>
        function openLightbox(src) {
          const lightbox = document.getElementById('lightbox');
          const lightboxImage = document.getElementById('lightbox-image');
          lightboxImage.src = src;
          lightbox.style.display = 'flex';
          lightbox.setAttribute('aria-hidden', 'false');
          document.body.style.overflow = 'hidden';
        }

        function closeLightbox() {
          const lightbox = document.getElementById('lightbox');
          lightbox.style.display = 'none';
          lightbox.setAttribute('aria-hidden', 'true');
          document.body.style.overflow = 'auto';
        }

        // Cerrar lightbox al hacer clic fuera de la imagen
        document.getElementById('lightbox').addEventListener('click', function (e) {
          if (e.target.id === 'lightbox') {
            closeLightbox();
          }
        });

        // Navegación con teclado
        document.addEventListener('keydown', function (e) {
          if (e.key === 'Escape') {
            closeLightbox();
          }
        });
      </script>

    {% endif %}

</body>

</html>