---
layout: default
---
<div class="carousel_container">
  <div class="carousel">
    <article class="carousel_texto">
      <p>
        🗞️ ¡Comenzó el proyecto de viviendas
        <strong>Bosque de Palo Verde</strong>! No te quedes sin tu próxima
        oportunidad de vivienda.
        <a href="https://bit.ly/leben-proyecto-bosques" rel="nofollow" target="_blank"
          title="Página de contacto de Leben Inmobiliaria Fusagasuga">Contáctanos ahora</a>
      </p>
    </article>
  </div>
</div>

{% include header.html %}
<hr>
<main id="main" class="content">
  <div class="article-layout">
    <article class="article-content">
      <img src="{{site.baseurl}}/assets/images/blog/{{page.hero}}" alt="{{page.alt}}" class="article-image" loading="lazy">
      
      {% if page.url == "/blog/clima-fusagasuga" %}
        {% include clima.html %}
      {% endif %}
      
      {{content}}
      
      <div class="share">
        {% include share.html %}
      </div>
      
      {% if page.referencias %}
        <div id="fuentes">
          <h4>Créditos y referencias</h4>
          <ul>
            {% for link_hash in page.referencias %}
              {% for link in link_hash %}
                <li>
                  <a href="{{ link[1] }}" rel="nofollow noopener noreferrer" target="_blank" title="Referencia de este post de Leben: {{ link[0] }}">{{ link[0] }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </article>
    
    <aside class="sidebar">
      <div class="flow">
        <h2>¿Has pensado en cambiar de casa o comprar una?</h2>
        <p>En Leben Inmobiliaria sí ofrecemos <strong>opciones al alcance de tu presupuesto y con las condiciones que te gustaría</strong> tener en tu nuevo hogar. ¡Escríbenos!</p>
        {% include boton_whatsapp.html %}
        <hr>
        <img src="{{site.baseurl}}/assets/images/team/{{page.foto}}" alt="Asesor de Leben {{page.autor}}" title="Foto de asesor de Leben Inmobiliaria Fusagasuga" />
        <h3>{{page.autor}}</h3>
        <p>{{page.bio}}</p>
        <div class="social-links">
          {% if page.twitter %}
            <a href="{{page.twitter}}"><i class="bi bi-twitter"></i></a>
          {% endif %}
          {% if page.facebook %}
            <a href="{{page.facebook}}"><i class="bi bi-facebook"></i></a>
          {% endif %}
          {% if page.instagram %}
            <a href="{{page.instagram}}" class="boton boton2" rel="nofollow noopener noreferrer" target="_blank" title="Instagram {{page.autor}}">Instagram</a>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="aside-recent-posts">
        <h3>Artículos recientes</h3>
        {% for post in site.posts limit:5 %}
          <div class="post-item">
            <img src="{{site.baseurl}}/assets/images/blog/{{post.hero}}" alt="{{post.alt}}" loading="lazy" title="{{post.title}}">
            <h4><a href="{{post.url}}" title="{{post.title}}">{{post.h1}}</a></h4>
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class="cta-sidebar">
        <h4>¿Te gustaría ver nuestras casas en venta?</h4>
        <p>Fusagasugá es el nuevo centro de la inversión inmobiliaria de Cundinamarca. Haz clic y conoce las nuevas oportunidades que tiene para ti LEBEN Inmobiliaria</p>
        <a href="{{'ventas'|relative_url}}" class="boton boton2" title="Compra casa con Leben">Mira las casas en venta</a>
      </div>
    </aside>
  </div>
</main>

{% include relacionados.html %}