---
layout: default
---
  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column align-items-left justify-content-start text-left caption">
          <h1>{{page.h1}}</h1>
          <p>{{page.excerpt}}</p>
        </div>
      </div>
      <div id="breadcrumbs">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <a href="/">Inicio</a>
        {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
            <span>/ {{ page.title }}</span>
          {% else %}
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">/ {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </section>
  <!-- End Hero Section -->
  <main id="main" class="single-page">
      <section class="blog">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <img src="{{site.baseurl}}/assets/images/blog/{{page.hero}}" alt="{{page.alt}}" style="width: 100%; margin-bottom: 2em;">
              {{content}}
            </div>
            <div class="col-lg-4">
              <div class="blog-sidbar">
              <div class="post-author d-grid">
                <div class="author-image">
                  <img src="{{site.baseurl}}/assets/images/team/{{page.foto}}" class="flex-shrink-0" alt="Asesor de Leben {{page.autor}}">
                </div>
                <div>
                  <h4>{{page.autor}}</h4>
                  <div class="social-links">
                    {% if page.twitter %}
                    <a href="{{page.twitter}}"><i class="bi bi-twitter"></i></a>
                    {% endif %}
                    {% if page.facebook %}
                    <a href="{{page.facebook}}"><i class="bi bi-facebook"></i></a>
                    {% endif %}
                    {% if page.instagram %}
                    <a href="{{page.instagram}}"><i class="biu bi-instagram"></i></a>
                    {% endif %}
                  </div>
                  <p>{{page.bio}}</p>
                    <a href="{{site.whatsapp}}" class="btn-get-started">Pedir asesoría</a>
                </div>
              </div>
              <!-- End author -->
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>
                <div class="mt-3">
                  {% for post in site.posts limit:5 %}
                  <div class="post-item mt-3">
                    <img src="{{site.baseurl}}/assets/images/blog/{{post.hero}}" alt="{{post.alt}}" loading="lazy">
                    <div>
                      <h4><a href="{{post.url}}">{{post.h1}}</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  {% endfor %}
                </div>
  
              </div><!-- End sidebar recent posts-->
            </div>
          </div>
        </div>
        </div>
      </section>
  </main><!-- End #main -->
  <section id="counter" class="counter-area section-padding" >
    <div class="container">
      <div class="row">
        <div class="counter-container">
          <h2>¿Te gustaría asesorarte para conseguir casa en Fusagasugá?</h2>
          <p>Contacta con el autor o autora de este artículo. Nuestros asesores expertos te ayudarán a encontrar la casa que suple tus necesidades y en el precio que necesitas.</p>
          <a href="{{site.whatsapp}}" class="btn-white">Contacta con {{page.autor}}</a>
        </div>
      </div>
    </div>
  </section>