---
layout: compress
---
{% include head.html %}
<body style="background-color: var(--color-default);">
<div class="hero-venta sections-bg">
  <div>
    <h1>{{page.h1}}</h1>
    <p>{{page.description}}</p>
    <a href="{{site.baseurl}}{{page.url}}#asesor" class="btn-get-started">Escribe al asesor de Leben</a>
  </div>
  <div>
    <span>{{page.precio}} negociables</span>
    <img src="{{site.baseurl}}/assets/images/portfolio/{{page.img}}" alt="{{page.alt}}">
  </div>

</div>

<!-- About Us Section -->
<section class="venta-caracteristicas">
  <h2>{{page.intro}}</h2>
  <ul>
    <li><img src="{{site.baseurl}}/assets/images/icons/area.svg" alt="Logo del área de una casa en venta en Fusagasugá" loading="lazy"> {{page.area}}</li>
    <li><img src="{{site.baseurl}}/assets/images/icons/habitacion.svg" alt="Logo de habitaciones de una casa en venta en Fusagasugá" loading="lazy"> {{page.habitacion}}</li>
    <li><img src="{{site.baseurl}}/assets/images/icons/sala.svg" alt="Logo de una sala de una casa en venta en Fusagasugá" loading="lazy"> {{page.sala}}</li>
    <li><img src="{{site.baseurl}}/assets/images/icons/comedor.svg" alt="Logo de un comedor de una casa en venta en Fusagasugá" loading="lazy"> {{page.comedor}}</li>
    <li><img src="{{site.baseurl}}/assets/images/icons/cocina.svg" alt="Logo de una cocina de una casa en venta en Fusagasugá" loading="lazy"> {{page.cocina}}</li>
    <li><img src="{{site.baseurl}}/assets/images/icons/bano.svg" alt="Logo de un baño de una casa en venta en Fusagasugá" loading="lazy"> {{page.bano}}</li>
    <li><img src="{{site.baseurl}}/assets/images/icons/garaje.svg" alt="Logo de un garaje de una casa en venta en Fusagasugá" loading="lazy"> {{page.garaje}}</li>
    <li><img src="{{site.baseurl}}/assets/images/icons/servicios.svg" alt="Logo de un garaje de una casa en venta en Fusagasugá" loading="lazy"> {{page.servicios}}</li>
    {% for item in page.adicional %}
    <li><img src="{{site.baseurl}}/assets/images/icons/property.svg" alt="Logo de los servicios de una casa en venta en Fusagasugá" loading="lazy"> {{item}}</li>
    {% endfor %}
  </ul>
</section><!-- End About Us Section -->

<main class="venta-body">
  <h2>Conoce la propiedad de Fusagasugá que tanto te gustó en estas fotos</h2>
  {% include image-gallery.html %} 

  {{content}}
</main>
{% include testimonios.html %}
<section id="counter" class="counter-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="counter-container">
          <div class="icon"><img src="{{site.baseurl}}/assets/images/portfolio/{{page.img}}" alt="Casas y fincas en venta Fusagasugá Colombia" loading="lazy"></div>
          <h2 class="datos-h2">Aprovecha la oferta de esta propiedad en Fusagasugá</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
            <div class="counter-container">
              <h3>{{page.h1}} ¿Qué esperas?</h3>
              <ul>
                <li>✓ {{page.habitacion}}</li>
                <li>✓ {{page.sala}}</li>
                <li>✓ {{page.comedor}}</li>
                <li>✓ {{page.cocina}}</li>
                <li>✓ {{page.bano}}</li>
                <li>✓ {{page.garaje}}</li>
                <li>✓ {{page.servicios}}</li>
                {% for item in page.adicional %}
                <li>✓ {{item}}</li>
                {% endfor %}
                <li><a href="#" class="boton-white">Contacta a un asesor</a></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</section>

  <a href="{{site.whatsapp}}" class="boton-whatsapp">
    <img src="{{'assets/images/whatsapp-logo.webp'|relative_url}}" alt="Logo de WhatsApp">
  </a>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/javascripts/jquery.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/javascripts/plugins.js"></script>
  <script src="/assets/javascripts/validator.min.js"></script>
  <script src="/assets/javascripts/contactform.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/javascripts/main.js"></script>
</body>

</html>