---
layout: compress
---
{% include head.html %}
<body style="background-color: var(--color-default);">
  <header id="header" class="header d-flex align-items-center">
    <div class="container container-xl d-flex align-items-center justify-content-between">
      <p class="logo d-flex align-items-center">
        <span class="logo"><img src="{{site.baseurl}}/assets/images/logo-mini.webp" width="48" height="48" alt="Logo LEBEN inmobiliaria">LEBEN Inmobiliaria</span>
      </p>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{site.whatsapp}}">Escríbenos por WhatsApp</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header><!-- End Header -->
<!--Portfolio Section -->
<div class="hero-venta">
  <div>
    <h1>{{page.h1}}</h1>
    <p>{{page.description}}</p>
    <a href="{{site.baseurl}}{{page.url}}#asesor" class="btn-get-started" data-aos="fade-up" data-aos-delay="50">Escribe al asesor de Leben</a>
  </div>
  <div>
    <span>{{page.precio}} negociables</span>
    <img src="{{site.baseurl}}/assets/images/portfolio/{{page.img}}" alt="">
  </div>

</div>

<!-- About Us Section -->
<section class="venta-caracteristicas">
  <h2>{{page.intro}}</h2>
  <ul>
    {% for items in page.caracteristicas %}
    {% for item in items %}
    <li><img src="{{site.baseurl}}/assets/images/icons/{{item[1]}}" alt="{{page.title}} {{item[0]}}"> {{item[0]|capitalize}}</li>
    {% endfor %}
    {% endfor %}
  </ul>
</section><!-- End About Us Section -->

<main class="venta-body">
  
  <h2>Conoce la propiedad de Fusagasugá que tanto te gustó en estas fotos</h2>
  <div class="venta-texto">
    {{content}}
    {% include testimonios.html %}
  </div>
</main>

<section id="counter" class="counter-area section-padding fadeInLeft wow" data-wow-delay="1s">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="counter-container" data-aos="fade-left" data-aos-delay="75">
          <div class="icon"><img src="{{site.baseurl}}/assets/images/portfolio/{{page.img}}" alt="Casas y fincas en venta Fusagasugá Colombia" loading="lazy"></div>
          <h2 class="datos-h2">Aprovecha la oferta de esta propiedad en Fusagasugá</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
            <div class="counter-container" data-aos="fade-right" data-aos-delay="100">
              <h3>{{page.h1}} ¿Qué esperas?</h3>
              <ul>
                {% for items in page.caracteristicas %}
                {% for item in items %}
                <li>✓ {{item[0]|capitalize}}</li>
                {% endfor %}
                {% endfor %}
                <li><a href="#" class="boton-white">Contacta a un asesor</a></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</section>


  <a href="{{site.whatsapp}}" class="boton-whatsapp">
    <img src="{{'assets/images/whatsapp-logo.webp'|relative_url}}" alt="Logo de WhatsApp">
  </a>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/javascripts/jquery.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/javascripts/plugins.js"></script>
  <script src="/assets/javascripts/validator.min.js"></script>
  <script src="/assets/javascripts/contactform.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/javascripts/main.js"></script>

</body>

</html>