---
layout: default
---
{% include hero.html %} 
{% include datos.html data="690" img="portfolio/1021/casa-venta-sector-el-indio-fusagasuga-10.webp" h2="Vive el Lujo y Confort en Fusagasugá: Tu Próximo Hogar con Ascensor Panorámico y Amenidades Exclusivas" li1="Valor $690'000.000" li2="Sala amplia de lujo iluminada con luz natural" li3="5 baños con lujos y muebles" li4="Cocina amplia con muebles y mesón auxiliar" li5="5 modernas habitaciones iluminadas con ropero" li6="Transporte público y colegios cerca" li7="Ascensor panorámico" url="ventas/casa-venta-sector-indio-fusagasuga" %}

<!--Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <div>
      {% if page.url == "/ventas" %}
      <div>
        <h2>Compra la casa de tus sueños en Fusagasugá</h2>
        <p class="propiedades">
          Estas son las ofertas de
          <strong>casas, fincas y apartamentos en Fusagasugá</strong>. Haz clic
          en el que más te guste:
        </p>
      </div>
      {% endif %}
      {% if page.url == "/arriendo" %}
      <div>
        <h2>Arrienda la casa o el apartamento de tus sueños en Fusagasugá</h2>
        <p class="propiedades">
          Estas son las ofertas de <strong>casas, apartamentos o fincas que están en arriendo en la ciudad de Fusagasugá</strong>. Haz clic
          en el que más te guste:
        </p>
      </div>
      {% endif %}
    </div>
    <div class="blog-tags">
      <button data-name="all" class="active">Todos</button>
      <button data-name="casas">Casas</button>
      <button data-name="apartamentos">Apartamentos</button>
      <button data-name="apartaestudios">Apartaestudios</button>
      <button data-name="fincas">Fincas</button>
      <button data-name="quintas">Quintas</button>
    </div>
    <div class="posts">
      {% if page.url == "/ventas" %}
      {% for item in site.ventas %}
      <div class="post" data-name="{{ item.clase }}">
        <a href="{{item.url|relative_url}}" title="Inmobiliaria LEBEN Fusagasugá">
          <img src="{{site.baseurl}}/assets/images/portfolio/{{item.img}}" class="img-fluid" alt="{{item.alt}}" loading="lazy">
          <h3>{{item.h1}}</h3>
        </a>
      </div>
      {% endfor %}
      {% endif %}
      {% if page.url == "/arriendo" %}
      {% for item in site.arriendo %}
      <div class="post" data-name="{{ item.clase }}">
        <a href="{{item.url|relative_url}}" title="Inmobiliaria LEBEN Fusagasugá">
          <img src="{{site.baseurl}}/assets/images/arriendo/{{item.img}}" class="img-fluid" alt="{{item.alt}}" loading="lazy">
          <h3>{{item.h1}}</h3>
        </a>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
<section class="portfolio">
  <div class="container flow" data-aos="fade-up">
  {{content}}
  </div>
</section>
